*{
    margin: 0;
    padding: 0;
}
.wrap{
    position: relative;
    width: 100%;
    height: 100%;
    text-decoration: none;
    list-style-type: none;
}
.box01{
    width: 100%;
    height: 1080px;
    background-image: url(img/bg01.png);
    display: flex;
    justify-content: center; 
    align-items: center;
    background-position: center;
    position: relative;
    background-size: cover;
    border: 0px solid red;
}

.t01{
    margin-top: 7px;
    font-weight: 450;
    text-transform: capitalize;
    letter-spacing: -0.03em;
    
}
.t02{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin-top: 10px;
    text-transform: capitalize;
}

/** 1 페이지 **/
.conbox{
    position: relative;
}
.w{
    margin-top: 60px;
    margin-left: 85px;
}
.w02{
    margin-top: 100px;
    margin-left: 85px;
    font-size: 45px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}
.w022{
    margin-top: 20px;
    margin-left: 90px;
    font-size: 13px;
    font-weight: 350;
    color: #B1B1B1;
    font-family: 'Roboto', sans-serif;
}
.w0222{
    margin-top: 40px;
    margin-left: 567px;
    font-size: 13px;
    font-weight: 350;
    color: #000;
    font-family: 'Roboto', sans-serif;
}
.w02222{
    margin-top: 10px;
    margin-left: 567px;
    font-size: 12px;
    font-weight: 350;
    color: #B1B1B1;
    font-family: 'Roboto', sans-serif;
}
.w002{
    width: 15px;
    height: 15px;
    font-size: 15px;
    font-weight: 700;
    padding: 10px;
    border: 1.3px solid #000;
    text-align: center;
    position: absolute;
    margin-top: -190px;
    margin-left: 955px;
    font-family: 'Roboto', sans-serif;
    
}
.w03{
    margin-top: 100px;
    margin-left: 85px;
    font-size: 13px;
    font-weight: 350;
    color: #c0c0c0;
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif;
}
.w033{
    margin-top: 30px;
    margin-left: 85px;
    font-size: 13px;
    font-weight: 300; 
    color: #6F6F6F;
    font-family: 'Roboto', sans-serif;
}
.w04{ 
    margin-left: 85px;
    font-size: 15px;
    font-weight: 350;
    margin-top: 20px;
    color: #000;
    font-family: 'Roboto', sans-serif;
}
.w044{
    margin-left: 85px;
    font-size: 15px;
    font-weight: 350;
    margin-top: 5px;
    color: #000;
    font-family: 'Roboto', sans-serif;
}
.w_01{
    margin-top: 30px;
    margin-left: 85px;
}
.w_02{
    margin-left: 42px;
    margin-top: -20px;
}
.ww{
    margin-top: 75px;
    margin-left: 85px;
    color: #414141;
    font-family: 'Roboto', sans-serif;
}
.video01{
    width: 900px;
    height: 507px;
    margin-top: 20px;
    margin-left: 85px;
    border: 1.5px solid #EFEFEF;

}
.www{
    margin-top: 30px;
    margin-left: 85px;
    color: #414141; 
}
.m01{ 
    position: absolute; 
    margin-left: 750px;
    margin-top: -50px;
}  
.m02{
    position: absolute;
    margin-left: 750px;
    margin-top: -43px;
}  

.go_top{
    width: 50px;
    height: 65px;
    position: fixed;
    right: 15px;
    bottom: 50px;
    text-align: center;
    line-height: 40px;
    margin-left: -300px;
}
